html, body{
    margin: 0px;
    background-color: #f29f9c;
    font-family: Helvetica Neue;
    text-align: center;
    color: #042f42;
    font-size: 30px;
}
.page{
    background-image: url("images/night.svg")
}

/*
.greetpepper{
    width: 300px;
}

.carpet{
    background-color: #dd685f;
    width: 100%;
    height: 400px;
    padding-top: 1px;
}

.time_6AM{
    background-color: red;
    width: 100%;
    height: 800px;
}

.time_8AM{
    background-color: aqua;
    width: 100%;
    height: 800px;
}


<h1>A DAY IN THE LIFE OF PEPPER</h1>
                    <img class="greetpepper" src="images/greetpepper.svg" alt ="introduction of pepper">
                    <div class="carpet">
                        <h2>Scroll down to see Pepper's day!</h2>
                    </div>

*/