html, body{
    margin: 0px;
    background-color: #9cc7ac;
    font-family: Helvetica Neue;
    text-align: center;
    color: #042f42;
    font-size: 30px;
}

.intro{
    width: 100%;
    height: 100%;
}

.page1{
    width:100%;
    height:100%;
    background-image: url("images/navPageImg.svg");
}

.page3, .page4, .page5{
    width:100%;
    height:100%;
    display: flex;
}

.time_10AM{
    padding-top:100px;
    width: 50%;
    height: 100%-100px;
}

.time_12PM{
    padding-top:100px;
    width: 50%;
    height: 100%-100px;
}

.customButtonLeft, .customButtonRight{
    text-align: center;
    padding: 20px;
    margin: 30px auto;
    width: 400px;
    height: 50px;
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius: 10px;
    cursor: pointer;
}

.activeImg{
    width: 500px;
    padding: 20px;   
}


/*CREDITS PAGE*/

.page7, .page8{
    background-color: #595150;
}

.credits{
    background-color: #595150;
    text-align: left;
    font-size: 15px;

}

.box{
    margin: auto;
    margin-top: 80px;
    padding: 50px;
    padding-left: 60px;
    width: 750px;
    color: #77615f;
    height: 500px;
    background-color: #bddfcf;
    border: 1px solid #bddfcf;
    border-radius: 10px;
}

h1{
    color: #f37566;
}

/*LINK CSS*/

a{
    text-decoration: none;
    color: #f37566;
}

.smallButton{
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    width: 200px;
    height: 25px;
    font-size: 12px;
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius: 10px;
}

.house{
    padding-right:30px;
    width: 90%;
    height: 90%;
    cursor: pointer;
}

.navExplain{
    font-size: 10px;
}